body, html {
height: 100%;
font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5. h6 {
    font-family: 'Inria Serif', serif;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/things-to-do-in-south-korea-bibimbap-1533197638-735X412.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;


}

.nav-link {
    color: rgb(0, 1, 46);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav-link:hover{
    color:grey;
}

.navigatior-bar{
    margin: 2rem 0rem;
}

.main-body {
    margin: 5rem 10rem;

}